.body--main {
  // background: linear-gradient(272.36deg, rgba(99, 60, 15, 0) 35.91%, #c28366 65.15%, #1A140D 98.48%), radial-gradient(41.41% 41.41% at 66.25% 48.18%, rgba(0, 0, 0, 0) 2.48%, rgba(0, 0, 0, 0) 63.56%, rgba(0, 0, 0, 0.71) 97.05%), url("../img/w-a-t-a-r-i-535375-unsplash.jpg");

  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 calc(30% + 14px);
  background-size: calc(100% + 236px) auto;
  background-color: #22150e;
}

.body--maniac {
  background-image: url("../img/maniac-bg.jpg");
  background-repeat: no-repeat;
  background-position: -470px calc(25% + 59px);
  background-size: calc(100% + 466px) auto;
  background-color: #040506;
}

.body--maniac-order {
  background-image: url("../img/maniac-order.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #151413;
}

.body--secrets-of-mansion {
  background-image: url("../img/secret-of-old-mansion-bg.jpg");
  background-repeat: no-repeat;
  background-position: -332px -132px;
  background-size: calc(100% + 332px) auto;
  background-color: #0c262d;
}

.body--ritual {
  background-image: url("../img/ritual-bg.jpg");
  // background-size: 1889px auto;
  background-repeat: no-repeat;
  background-position: -526px calc(25vh - 437px);
  background-size: calc(100% + 523px) auto;
  background-color: #0e100f;
}

.body--fatal-experiment {
  background-image: url("../img/fatal-experiment-bg.jpg");
  background-repeat: no-repeat;
  background-position: -947px -245px;
  background-size: calc(100% + 944px) auto;
  background-color: #211514;
}

.body--cities-popup-open {
  background: #3d3333;
}

.body--question-popup-open {
  background: #3d3333;
}

.body--date-popup-open {
  background: #3d3333;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .body--main {
    background-image: url("../img/main-bg@2x.jpg");
  }

  .body--maniac {
    background-image: url("../img/maniac-bg@2x.jpg");
  }

  .body--maniac-order {
    background-image: url("../img/maniac-order@2x.png");
  }

  .body--secrets-of-mansion {
    background-image: url("../img/secret-of-old-mansion-bg@2x.jpg");
  }

  .body--ritual {
    background-image: url("../img/ritual-bg@2x.jpg");
  }

  .body--fatal-experiment {
    background-image: url("../img/fatal-experiment-bg@2x.jpg");
  }
}

@media (max-width: @tablet-width) {
  .body--main {
    background-size: calc(100% + 619px) auto;
    background-position: 0 -97px;
  }

  .body--maniac-order {
    background-size: 150% 100vh;
  }

  .body--secrets-of-mansion {
    background-position: -328px -137px;
    background-size: calc(100% + 500px) auto;
  }

  .body--ritual {
    background-position: -450px calc(25vh - 266px);
  }

  .body--fatal-experiment {
    background-position: -865px -104px;
  }
}

@media (max-width: @mobile-width) {
  .body--main {
    background-size: calc(100% + 697px) auto;
    background-position: calc(50% + 66px) -46px;
  }

  .body--maniac {
    background-size: calc(100% + 560px) auto;
    background-position: calc(50% + 14px) -176px;
  }

  .body--maniac-order {
    background-image: url("../img/maniac-order-bg-mobile.png");
    background-size: 100% 100vh;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .body--maniac-order {
      background-image: url("../img/maniac-order-bg-mobile@2x.png");
    }
  }

  .body--secrets-of-mansion {
    background-position: calc(50% + 79px) -128px;
    background-size: calc(100% + 792px) auto;
  }

  .body--ritual {
    background-size: calc(100% + 798px) auto;
    background-position: calc(50% + 23px) -138px;
  }

  .body--fatal-experiment {
    background-position: calc(50% - 166px) 0;
    background-size: calc(100% + 609px) auto;
  }
}
