.modal-type-date {
  display: none;
  background: linear-gradient(0deg,#141414 0%,#1f1d1d 100%);
  width: 130px;
  border-radius: 3px;
  top: 280px;
  left: calc(50% - 125px);
  position: fixed;
  width: 250px;
}

.modal-type-date--open {
  display: block;
}

.modal-type-date__input {
  margin: 25px auto;
  background: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 3px;
  padding: 7px 40px;
  margin-left: 30px;
  font-size: 16px;
  font-family: "Raleway","Arial",sans-serif;
}
