.quest-page-content {
  padding: 0;
  margin: 0;
  width: 50%;
  margin-left: calc(50% - 82px);
  margin-top: 151px;
}

.quest-page-content__kind-of-quest {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #f2890f;
  margin-left: 5px;
}

.quest-page-content__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 92px;
  line-height: 95%;
  color: #ffffff;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.quest-page-content__description {
  padding: 0;
  margin: 0;
  color: #ffffff;
  width: 530px;
  margin-top: 17px;
  margin-left: 29px;
  font-size: 15px;
  line-height: 150%;
}
