.question-form {
  margin: 0 32px;
  padding: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.question-form__text {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  margin-top: 32px;
}

.question-form__moving-text {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  margin-top: 32px;
}

.question-form__moving-text--invalid {
  margin-top: 14px;
}

.question-form__name-legend {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.question-form__name-legend--focus {
  width: auto;
  height: auto;
  clip: auto;
  display: block;
  color: #ffffff;
  font-size: 12px;
  margin-left: 22px;
  margin-top: 59px;
  position: absolute;
  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

.question-form__email-legend {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.question-form__email-legend--focus {
  width: auto;
  height: auto;
  clip: auto;
  display: block;
  color: #ffffff;
  font-size: 12px;
  margin-left: 22px;
  margin-top: 180px;
  position: absolute;
  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

.question-form__email-legend--invalid {
  width: auto;
  height: auto;
  clip: auto;
  display: block;
  color: #ffffff;
  font-size: 12px;
  margin-left: 22px;
  margin-top: 180px;
  position: absolute;
  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
}

.question-form__input {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  width: 400px;
  height: 53px;
  margin-top: 17px;
  margin-left: 1px;
  font-size: 14px;
  padding-left: 23px;
  padding-bottom: 3px;
}

.question-form__email-input:invalid {
  box-shadow: none;
}

.question-form__input:focus {
  border-color: #2cdb52;
}

.question-form__invalid-text {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.64;
  color: #9c5c19;
  margin-top: 4px;
  margin-left: 23px;
}

.question-form__textarea {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  width: 400px;
  height: 120px;
  margin-top: 17px;
  font-family: "RaleWay", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-left: 23px;
  padding-bottom: 3px;
  padding-top: 15px;
}

.question-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.question-form__label {
  color: #ffffff;
  font-size: 14px;
  margin-top: 23px;
  line-height: 20px;
  margin-left: 23px;
}

.question-form__label a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
}

.question-form__checkbox + .question-form__label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #6d4312;
  border-radius: 4px;
  margin-left: -23px;
  margin-top: 2px;
}

.question-form__checkbox:checked + .question-form__label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #f2890f;
  border-radius: 4px;
  margin-left: -23px;
  margin-top: 2px;
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 4px 4px;
}

@media (max-width: 1023px) {
  .question-form__text {
    font-size: 13px;
  }

  .question-form__moving-text {
    font-size: 13px;
  }

  .question-form__input {
    width: 380px;
  }

  .question-form__textarea {
    width: 380px;
  }

  .question-form__label {
    font-size: 13px;
  }

  .question-form__label a {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .question-form {
    margin: 0 15px;
  }

  .question-form__text {
    font-size: 15px;
    margin-top: 30px;
    line-height: 22px;
  }

  .question-form__input {
    margin-top: 15px;
    width: calc(100% - 10px);
  }

  .question-form__moving-text {
    font-size: 15px;
  }

  .question-form__textarea {
    padding-top: 17px;
    width: calc(100% - 10px);
  }

  .question-form__label {
    font-size: 14px;
    width: 330px;
    margin: 0 auto;
    margin-top: 23px;
    padding-left: 23px;
  }

  .question-form__label a {
    font-size: 14px;
    display: inline;
  }

  .question-form__name-legend--focus {
    margin-left: 20px;
    margin-top: 81px;
  }

  .question-form__email-legend--focus {
    margin-top: 224px;
  }

  .question-form__email-legend--invalid {
    margin-top: 224px;
  }
}
