.button {
  width: 250px;
  height: 65px;
  border-radius: 65px;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #f28a0f;
}

.button--select-quest {
  margin-top: 66px;
}

.button--select-quest:hover {
  background-color: #f39425;
  cursor: pointer;
}
