.contact-phone {
  height: 20px;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-top: 15px;
  margin-right: 9px;
  letter-spacing: 0.03em;
}
