.modal-select-city {
  display: none;
  position: fixed;
  width: 480px;
  background: linear-gradient(0deg, #141414 0%, #1f1d1d 100%);
  border-color: #ffffff;
  border-radius: 3px;
  top: 141px;
  left: calc(50% - 240px);
}

.modal-select-city--open {
  display: block;
}

.modal-select-city__title {
  color: #ffffff;
  font-weight: 800;
  font-size: 32px;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  margin-left: 32px;
}

.modal-select-city__text {
  color: #ffffff;
  font-size: 17px;
  padding: 0;
  margin: 0;
  margin-top: 46px;
  margin-left: 33px;
  font-stretch: condensed;
  font-weight: 400;
}
